* {
    margin: 0;
    padding: 0;
}


.page-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
}

.sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    background-color: rgb(73, 73, 255);
}

.header {
    background-color: red;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.content {
    background-color: green;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}